<!DOCTYPE html>
<html>
<head>
<title>代码生成器</title>
<script type="text/javascript" src="../js/header.js"></script>
<script type="text/javascript" src="../js/footer.js"></script>
<meta charset="UTF-8"></meta>


</head>
<body>
<div id="rrapp">
	<div class="grid-btn">
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.tableName" @keyup.enter="query" placeholder="表名"/>
		</div>
		<a class="btn btn-default" @click="query">查询</a>
		<a class="btn btn-primary" @click="generator"><i class="fa fa-file-code-o"></i>&nbsp;生成代码</a>
	</div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <!-- 設置點擊查看详情渲染的页面。默认隐藏 -->
	<div id="showDis" style="display: none" >
		<table class="table table-bordered" style="overflow-y:scroll; overflow-x:scroll;">
            <thead>
            <tr>
                <th class="success">No.</th>
                <th class="success">columnName</th>
                <th class="success">dataType</th>
                <th class="success">columnComment</th>
                <th class="success">columnKey</th>
                <th class="success">extra</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(a,index) in clomnusLists" >
                <td class="warning">{{index+1}}</td>
              <!--   <td v-if="a.img!=''" ><img :src="a.img" style="width: 100px;height: 100px;"/></td> -->
                <td>{{a.columnName}}</td>
                <td>{{a.dataType}}</td>
                <td>{{a.columnComment}}</td>
                <td>{{a.columnKey}}</td>
                <td>{{a.extra}}</td> 
            </tr>
            </tbody>
        </table>
	</div>
</div>
<script src="../js/system/generator.js"></script>
</body>
</html>