package ${package}.controller;

import java.util.List;
import java.util.Map;
import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.RestController;
import ${package}.entity.${className}Entity;
import ${package}.service.${className}Service;
import ${mainPath}.Adventure.utils.PageUtils;
import ${mainPath}.Adventure.utils.Query;
import ${mainPath}.Adventure.utils.R;




/**
 * ${comments}
 * 控制层
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${moduleName}/${pathName}")
public class ${className}Controller {
	@Autowired
	private ${className}Service ${classname}Service;
	
	//日志
	private static Log log = LogFactory.getLog(${className}Controller.class);
	
	/**	
	 * 列表
	 */
	@RequestMapping("/queryList")
	public R queryList(@RequestParam Map<String, Object> params){
		//示例日志打印
		log.info("/${moduleName}/${pathName}/queryList obj:"+params.toString());
		//查询列表数据
        Query query = new Query(params);

		List<${className}Entity> ${classname}List = ${classname}Service.query(query);
		int total = ${classname}Service.queryTotal(query);
		
		PageUtils pageUtil = new PageUtils(${classname}List, total, query.getLimit(), query.getPage());
		
		return R.ok().put("page", pageUtil);
	}
	
	/**	
	 * 获取所有列表
	 */
	@RequestMapping("/list")
	public List<${className}Entity> list(){
		List<${className}Entity> ${classname}List = ${classname}Service.query(null);
		
		return ${classname}List;
	}
	
	/**
	 * 信息
	 */
	@RequestMapping("/info")
	public R info(${pk.attrType} ${pk.attrname}){
		${className}Entity ${classname} = ${classname}Service.queryObject(${pk.attrname});
		
		return R.ok().put("${classname}", ${classname});
	}
	
	/**
	 * 保存
	 */
	@RequestMapping("/save")
	public R save(@RequestBody ${className}Entity ${classname}){
		${classname}Service.save(${classname});
		
		return R.ok();
	}
	
	/**
	 * 修改
	 */
	@RequestMapping("/update")
	public R update(@RequestBody ${className}Entity ${classname}){
	log.info("/${moduleName}/${pathName}/update obj:"+${classname}.toString());
		${classname}Service.update(${classname});
		
		return R.ok();
	}
	
	/**
	 * 删除
	 */
	@RequestMapping("/delete")
	public R delete(@RequestBody ${pk.attrType}[] ${pk.attrname}s){
	   for(int a=0;a<${pk.attrname}s.length; a++)
		${classname}Service.delete(${pk.attrname}s[a]);
		
		return R.ok();
	}
	
}
