package ${package}.mapper;

import ${package}.entity.${className}Entity;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao extends BaseDao<${className}Entity>{
//BaseDao已实现基础方法
		//根据主键查找
		ApplicationEntity queryObject(${pk.attrType} ${pk.attrname});
}
