#set($classInfo=$collection.classInfo)
#set($tableInfo=$collection.tableInfo)
package ${classInfo.packageName}.service;

import java.util.List;
import java.util.Map;
import ${classInfo.classFullName};
import xframework.core.pagenation.Page;

public interface ${classInfo.className}Service {
	// 按主键查询
	${classInfo.className} getByKey(Map<String, Object> keyMap);
	// 通用条件查询
	List<${classInfo.className}> query(Map<String, Object> queryMap);
	// 分页查询
	Page<${classInfo.className}> pageQuery(Page<${classInfo.className}> page);
	// 数量统计
	// int count(Map<String, Object> countMap);
	// 单条保存
	int save(${classInfo.className} ${classInfo.handleName});
	// 批量保存
	int saveBatch(List<${classInfo.className}> ${classInfo.handleName}List);
#if($tableInfo.updateAble)
	// 按主键更新全部字段
	int update(${classInfo.className} ${classInfo.handleName});
	// 按主键更新非空字段
	int updateNotEmpty(${classInfo.className} ${classInfo.handleName});
	// 按主键删除
	int deleteByKey(Map<String, Object> keyMap);
#end
}
