<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">

<title>narcotics</title>

<meta name="description"
	content="A framework for easily creating beautiful presentations using HTML">
<meta name="author" content="Hakim El Hattab">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style"
	content="black-translucent">

<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="stylesheet" href="../../css/reveal/reveal.css">
<link rel="stylesheet" href="../../css/reveal/theme/black.css"
	id="theme">

<!-- Theme used for syntax highlighting of code -->
<link rel="stylesheet" href="../../libs/reveal/css/zenburn.css">

<!-- Printing and PDF exports -->
<script>
	var link = document.createElement('link');
	link.rel = 'stylesheet';
	link.type = 'text/css';
	link.href = window.location.search.match(/print-pdf/gi) ? '../../css/reveal/print/pdf.css'
			: '../../css/reveal/print/paper.css';
	document.getElementsByTagName('head')[0].appendChild(link);
</script>

<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
</head>

<body>

	<div class="reveal">

		<!-- 此为展示的第一页！ -->
		<div class="slides">
			<section>
				<h1>前言</h1>
				<h3>The process of contact with narcotics</h3>
				<p>
					<small>Created by <a href="index.html">Roger.</a> in order
						to <a href="index.html">CuteCn</a></small>
				</p>
			</section>
			<section id="transitions">
				<h2>选择你喜欢观赏的页面风格</h2>
				<p>
					You can select from different transitions, like: <br> <a
						href="?transition=none#/transitions">默认翻页</a> - <a
						href="?transition=fade#/transitions">渐变式显示</a> - <a
						href="?transition=slide#/transitions">魔方(划入)</a> - <a
						href="?transition=convex#/transitions">透明翻转(凸)</a> - <a
						href="?transition=concave#/transitions">透明翻转(凹)</a> - <a
						href="?transition=zoom#/transitions">放大</a>
				</p>
			</section>
			<section id="themes">
				<h4>背景颜色</h4>
				<p>
					这些颜色你不满意，那你来打我啊<div style="margin-top: 0.25em"><img width="50" height="50" src="http://pdqrhc022.bkt.clouddn.com/18803968230690816">
				</div> <br>
					<!-- Hacks to swap themes after the page has loaded. Not flexible and only intended for the reveal.js demo deck. -->
					<a href="#"
					onclick="document.getElementById('theme').setAttribute('href','../../css/reveal/theme/black.css'); return false;">Black
					</a> - <a href="#"
					onclick="document.getElementById('theme').setAttribute('href','../../css/reveal/theme/white.css'); return false;">White</a>
					- <a href="#"
					onclick="document.getElementById('theme').setAttribute('href','../../css/reveal/theme/league.css'); return false;">League</a>
					- <a href="#"
					onclick="document.getElementById('theme').setAttribute('href','../../css/reveal/theme/sky.css'); return false;">Sky</a>
					- <a href="#"
					onclick="document.getElementById('theme').setAttribute('href','../../css/reveal/theme/beige.css'); return false;">Beige</a>
					- <a href="#"
					onclick="document.getElementById('theme').setAttribute('href','../../css/reveal/theme/simple.css'); return false;">Simple</a>
					<br> <a href="#"
					onclick="document.getElementById('theme').setAttribute('href','../../css/reveal/theme/serif.css'); return false;">Serif</a>
					- <a href="#"
					onclick="document.getElementById('theme').setAttribute('href','../../css/reveal/theme/blood.css'); return false;">Blood</a>
					- <a href="#"
					onclick="document.getElementById('theme').setAttribute('href','../../css/reveal/theme/night.css'); return false;">Night</a>
					- <a href="#"
					onclick="document.getElementById('theme').setAttribute('href','../../css/reveal/theme/moon.css'); return false;">Moon</a>
					- <a href="#"
					onclick="document.getElementById('theme').setAttribute('href','../../css/reveal/theme/solarized.css'); return false;">Solarized</a>
				</p>
			</section>
			<!-- 第二页面 -->
			<section>
				<h3>all or nothing, now or never </h3>
				<p>
					<i style="color:pink">A boy will make you think he loves you, but he really doesn’t. A girl will make you think she doesn’t love you, when she really does. </i>
				—— 很多时候，男人会让你觉得他爱上了你，其实他真没有；而女人会让你觉得她不可能会爱上你，结果她却动了心。</p>
			</section>

			<!-- Example of nested vertical slides -->
			<section>
				<section>
					<p style="color:pink">Being nice to someone you Dislike doesn’t mean you’re a Fake. It means you’re Mature enough to Tolerate your dislike towards them. </p>
					<p>
						能够善待不太喜欢的人， 并不代表你虚伪， 而意味着你内心成熟到可以容纳这些不喜欢.
					</p>
					<br> <a href="#" class="navigate-down"> <img width="256"
						height="256"
						data-src="http://pdqrhc022.bkt.clouddn.com/18803968230690816"
						alt="Down arrow" style="transform: rotate(0deg); -webkit-transform: rotate(0deg);">
					</a>
				</section>
				<section>
					<h2>Lovely and gentle 1</h2>
					<p> <a href="#"> <img width="426" height="520"
							data-src="http://pdqrhc022.bkt.clouddn.com/18803968230690816"
							style="transform: rotate(360deg); -webkit-transform: rotate(360deg);">
					</a>
					</p>
				</section>
				<section>
					<h2>Lovely and gentle 2</h2>
					<p> <a href="#"> <img width="426" height="520"
							data-src="http://pdqrhc022.bkt.clouddn.com/18803968230690816"
							style="transform: rotate(360deg); -webkit-transform: rotate(360deg);">
					</a>
					</p>
				</section>
				<section>
					<h2>Lovely and gentle 3</h2>
					<p> <a href="#"> <img width="426" height="520"
							data-src="http://pdqrhc022.bkt.clouddn.com/18803968230690816"
							style="transform: rotate(360deg); -webkit-transform: rotate(360deg);">
					</a>
					</p>
				</section>
				<section>
					<h2>Scorpio 3</h2>
					<p> <a href="#/2"> <img width="300" height="400"
							data-src="http://pdqrhc022.bkt.clouddn.com/18803968230690816" alt="Up arrow"
							style="transform: rotate(360deg); -webkit-transform: rotate(360deg);">
					</a>
					</p>
				</section>
			</section>
			
			<section>
				<section id="fragments"
					data-background="http://pdqrhc022.bkt.clouddn.com/18803968230690816"
					style="overflow: hidden;background-position: center center;z-index: 1;">


<!-- 					<aside class="notes">This slide has fragments which are
						also stepped through in the notes window.</aside> -->
				</section>
<!-- 				<section>
					<h2>Fragment Styles</h2>
					<p>There's different types of fragments, like:</p>
					<p class="fragment grow">grow</p>
					<p class="fragment shrink">shrink</p>
					<p class="fragment fade-out">fade-out</p>
					<p class="fragment fade-up">fade-up (also down, left and
						right!)</p>
					<p class="fragment current-visible">current-visible</p>
					<p>
						Highlight <span class="fragment highlight-red">red</span> <span
							class="fragment highlight-blue">blue</span> <span
							class="fragment highlight-green">green</span>
					</p>
				</section> -->
			</section>
			<section>
				<h3>哦...对了，提醒一下</h3>
				<p>
					电脑按下 <strong style="color:red">ESC</strong> 按键,你就能看到整个布局.
				</p>
				<p>
					当然,如果你使用手机查看。那就当此话我没讲过.按住键盘上的 Alt 键
					点击页面任何一个地方都可以放大.
				</p>
				<div class="fragment">
					<img width="55" height="60" src="http://pdqrhc022.bkt.clouddn.com/18803968230690816">
				</div>
			</section>

			<section data-background-transition="zoom" data-background="http://pdqrhc022.bkt.clouddn.com/18803968230690816"
				style="overflow: hidden;background-position: center center;z-index: 1;">

			</section>


			<section>
				<section data-background="http://pdqrhc022.bkt.clouddn.com/18803968230690816">
					
					<p>
						BUT
						<code style="color:pink" >I will bring you a different feeling</code>
						Wait for me to come......
						loding......
					</p>
				</section>
				<section
					data-background="http://pdqrhc022.bkt.clouddn.com/18803968230690816">
					<h2>Beautiful Girl</h2>
				</section>
				<section data-background="http://pdqrhc022.bkt.clouddn.com/18803968230690816"
					data-background-repeat="repeat" data-background-size="200px">
					<pre style="width:500px">
						
					</pre>
				</section>
<!-- 				<section
					data-background-video="https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.mp4,https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.webm"
					data-background-color="#000000">
					<div
						style="background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 20px;">
						<h2>Video Backgrounds</h2>
						<pre>
							<code class="hljs" style="word-wrap: break-word;">&lt;section data-background-video="video.mp4,video.webm"&gt;</code>
						</pre>
					</div>
				</section>
				<section data-background="http://i.giphy.com/90F8aUepslB84.gif">
					<h2>... and GIFs!</h2>
				</section> -->
			</section>

			<section data-transition="slide" data-background="#4d7e65"
				data-background-transition="zoom">
				
			</section>

			<section>
				<h2>A fool's monologue</h2>
				<p>
				
				</p>
		
				</section>
				<section data-background="http://pdqrhc022.bkt.clouddn.com/18803968230690816"
			    	style="overflow: hidden;background-position: center center;z-index: 1;">
				<div
						style="background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 5px;">
					
					</div>
				</section>
				<section>
				<h1>终</h1>
				</section>
				<section>
				<h1>哪有什么念念不忘，只是自己的不甘心罢了</h1>
				</section>
		</div>

	</div>
	<script src="../../libs/reveal/js/head.min.js"></script>
	<script src="../../js/reveal/reveal.js"></script>
	<script>
		// More info https://github.com/hakimel/reveal.js#configuration
		Reveal.initialize({
			controls : true,
			progress : true,
			history : true,
			center : true,

			transition : 'slide', // none/fade/slide/convex/concave/zoom

			// More info https://github.com/hakimel/reveal.js#dependencies
			dependencies : [ {
				src : '../../libs/reveal/js/classList.js',
				condition : function() {
					return !document.body.classList;
				}
			}, {
				src : '../../plugins/reveal/markdown/marked.js',
				condition : function() {
					return !!document.querySelector('[data-markdown]');
				}
			}, {
				src : '../../plugins/reveal/markdown/markdown.js',
				condition : function() {
					return !!document.querySelector('[data-markdown]');
				}
			}, {
				src : '../../plugins/reveal/highlight/highlight.js',
				async : true,
				callback : function() {
					hljs.initHighlightingOnLoad();
				}
			}, {
				src : '../../plugins/reveal/search/search.js',
				async : true
			}, {
				src : '../../plugins/reveal/zoom-js/zoom.js',
				async : true
			}, {
				src : '../../plugins/reveal/notes/notes.js',
				async : true
			} ]
		});

	</script>

</body>
</html>
