<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Preface</title>
</head>
<body>
<div id="ctf" style="text-align: center">
	<h2>钗头凤 </h2>
	<span>红酥手、黄滕酒，满城春色宫墙柳。</span>
	<br>
	<span>东风恶、欢情薄，一怀愁绪，几年离索。</span>
	<br>
	<span>错！错！错！</span>
	<br>
	<span>春如旧、人空瘦，泪痕红浥鲛绡透。</span>
	<br>
	<span>桃花落、闲池阁，山盟虽在，锦书难托。</span>
	<br>
	<span>莫！莫！莫！ </span>
	<br>
	<span>世情薄、人情恶，雨送黄昏花易落。</span>
	<br>
	<span>晓风干、泪痕残，欲笺心事，独倚斜栏。</span>
	<br>
	<span>难！难！难！</span>
	<br>
	<span>人成各、今非昨，病魂常似秋千索。</span>
	<br>
	<span>角声寒、夜阑珊，怕人寻问，咽泪装欢。</span>
	<br>
	<span>瞒！瞒！瞒！</span>
</div>
</body>
</html>