#set($classInfo=$collection.classInfo)
#set($tableInfo=$collection.tableInfo)
#set($keys=$collection.keys)
var ${classInfo.handleName}DetailVM = new Vue({
	el : "#${classInfo.handleName}Detail",
	data : {
		${classInfo.handleName} : {},
		updateFlag : false,  // 控制某些域是否可编辑
		disableFlag : false  // 控制button，防止双击
	},
	methods : {
		submit : function() {
			var _this = this;
			if (!Vue.validate()) return;
			_this.disableFlag = true;
			if (_this.updateFlag) {
				${classInfo.className}Service.update(_this.${classInfo.handleName}, function(result) {
					$.xfm.alert(result.message.info, function() {
						_this.disableFlag = false;
					});
				})
			} else {
				${classInfo.className}Service.save(_this.${classInfo.handleName}, function(result) {
					$.xfm.alert(result.message.info, function() {
						_this.disableFlag = false;
					});
				})
			}
		},
		reset : function() {
			this.${classInfo.handleName} = {};
		},
		close : function() {
			window.parent.$(".modal").modal('hide');
		}
	},
	computed : {

	},
	created : function() {
		var ${classInfo.handleName}Id = $.xfm.getParameter("id");
		var _this = this;
		if (${classInfo.handleName}Id) {
			${classInfo.className}Service.getByKey({
				${classInfo.handleName}Id : ${classInfo.handleName}Id
			}, function(result) {
				_this.${classInfo.handleName} = result.data;
			});
			this.updateFlag = true; // 表示更新
		}
	}
});