<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射mapper路径 -->
<mapper namespace="com.firstTry.Adventure.mapper.ApplicationMapper">
<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.firstTry.Adventure.entity.ApplicationEntity" id="applicationMap">
        <result property="Code" column="code"/>
        <result property="Name" column="name"/>
        <result property="Status" column="status"/>
        <result property="Description" column="description"/>
        <result property="ShowOrder" column="show_order"/>
        <result property="CreateBy" column="create_by"/>
        <result property="CreateTime" column="create_time"/>
        <result property="UpdateBy" column="update_by"/>
        <result property="UpdateTime" column="update_time"/>
    </resultMap>

	<select id="queryObject" resultType="com.firstTry.Adventure.entity.ApplicationEntity">
		select * from application where code = #{value}
	</select>
	
	<select id="queryList" resultType="com.firstTry.Adventure.entity.ApplicationEntity">
		select * from application
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by code desc
			</otherwise>
        </choose>
		<include refid="commonPage"/>
	</select>
	
 	<select id="queryTotal" resultType="java.lang.Integer">
		select count(1) from application a
		 <include refid="commonQuery"/>
	</select>
	 
	 	<!-- 条件：分页 -->
	<sql id="commonPage">
		<if  test="offset != null and limit != null ">
			LIMIT #{offset}, #{limit}
		</if>
	</sql>
	 
	  <!-- 通用条件查询 -->
    <select id="query" resultType="ApplicationEntity" parameterType="java.util.Map">
        SELECT
		            a.code Code,
		            a.name Name,
		            a.status Status,
		            a.description Description,
		            a.show_order ShowOrder,
		            a.create_by CreateBy,
		            a.create_time CreateTime,
		            a.update_by UpdateBy,
		            a.update_time UpdateTime
		        FROM application a
        <include refid="commonQuery"/>
        <include refid="commonPage"/>
    </select>
    
    <!-- 条件：通用查询 -->
    <sql id="commonQuery">
        <where>
							<if test="Code!=null">
			AND a.code = #{Code}
		</if>
											<if test="Name!=null">
			AND a.name = #{Name}
		</if>
											<if test="Status!=null">
			AND a.status = #{Status}
		</if>
											<if test="Description!=null">
			AND a.description = #{Description}
		</if>
											<if test="ShowOrder!=null">
			AND a.show_order = #{ShowOrder}
		</if>
											<if test="CreateBy!=null">
			AND a.create_by = #{CreateBy}
		</if>
											<if test="CreateTime!=null">
			AND a.create_time = #{CreateTime}
		</if>
											<if test="UpdateBy!=null">
			AND a.update_by = #{UpdateBy}
		</if>
											<if test="UpdateTime!=null">
			AND a.update_time = #{UpdateTime}
		</if>
							        </where>
    </sql>

    <!--保存数据-->
	<insert id="save" parameterType="com.firstTry.Adventure.entity.ApplicationEntity">
		insert into application
		(
			`code`, 
			`name`, 
			`status`, 
			`description`, 
			`show_order`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`
		)
		values
		(
			#{Code}, 
			#{Name}, 
			#{Status}, 
			#{Description}, 
			#{ShowOrder}, 
			#{CreateBy}, 
			#{CreateTime}, 
			#{UpdateBy}, 
			#{UpdateTime}
		)
	</insert>
	 
	 <!--根据主键ID修改内容-->
	<update id="update" parameterType="com.firstTry.Adventure.entity.ApplicationEntity">
		update application 
		<set>
			<if test="Name != null">`name` = #{Name}, </if>
			<if test="Status != null">`status` = #{Status}, </if>
			<if test="Description != null">`description` = #{Description}, </if>
			<if test="ShowOrder != null">`show_order` = #{ShowOrder}, </if>
			<if test="CreateBy != null">`create_by` = #{CreateBy}, </if>
			<if test="CreateTime != null">`create_time` = #{CreateTime}, </if>
			<if test="UpdateBy != null">`update_by` = #{UpdateBy}, </if>
			<if test="UpdateTime != null">`update_time` = #{UpdateTime}</if>
		</set>
		where code = #{code}
	</update>
	
	  <!-- 按主键删除 -->
	<delete id="delete" >
		delete from application where code = #{id}
	</delete>
	
	<delete id="deleteBatch">
		delete from application where code in 
		<foreach item="code" collection="array" open="(" separator="," close=")">
			#{code}
		</foreach>
	</delete>

</mapper>