<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.firstTry.Adventure.mapper.MenuMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.firstTry.Adventure.entity.MenuEntity" id="menuMap">
        <result property="id" column="id"/>
        <result property="appCode" column="app_code"/>
        <result property="level" column="level"/>
        <result property="parentId" column="parent_id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="httpUrl" column="http_url"/>
        <result property="showName" column="show_name"/>
        <result property="showOrder" column="show_order"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

	<select id="queryObject" resultType="com.firstTry.Adventure.entity.MenuEntity">
		select * from menu where id = #{value}
	</select>
	
	<select id="queryList" resultType="com.firstTry.Adventure.entity.MenuEntity">
		select * from menu
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<include refid="commonPage"/>
	</select>
	
 	<select id="queryTotal" resultType="java.lang.Integer">
		select count(1) from menu 
		 <include refid="commonQuery"/>
	</select>
	 
	 	<!-- 条件：分页 -->
	<sql id="commonPage">
		<if  test="offset != null and limit != null ">
			LIMIT #{offset}, #{limit}
		</if>
	</sql>
	 
	  <!-- 通用条件查询 -->
    <select id="query" resultType="MenuEntity" parameterType="java.util.Map">
        SELECT
		            a.id id,
		            a.app_code appCode,
		            a.level level,
		            a.parent_id parentId,
		            a.name name,
		            a.url url,
		            a.http_url httpUrl,
		            a.show_name showName,
		            a.show_order showOrder,
		            a.create_by createBy,
		            a.create_time createTime,
		            a.update_by updateBy,
		            a.update_time updateTime
		        FROM menu a
        <include refid="commonQuery"/>
        <include refid="commonPage"/>
    </select>
    
    <!-- 条件：通用查询 -->
    <sql id="commonQuery">
        <where>
							<if test="id!=null">
			AND a.id = #{id}
		</if>
											<if test="appCode!=null">
			AND a.app_code = #{appCode}
		</if>
											<if test="level!=null">
			AND a.level = #{level}
		</if>
											<if test="parentId!=null">
			AND a.parent_id = #{parentId}
		</if>
											<if test="name!=null">
			AND a.name = #{name}
		</if>
											<if test="url!=null">
			AND a.url = #{url}
		</if>
											<if test="httpUrl!=null">
			AND a.http_url = #{httpUrl}
		</if>
											<if test="showName!=null">
			AND a.show_name = #{showName}
		</if>
											<if test="showOrder!=null">
			AND a.show_order = #{showOrder}
		</if>
											<if test="createBy!=null">
			AND a.create_by = #{createBy}
		</if>
											<if test="createTime!=null">
			AND a.create_time = #{createTime}
		</if>
											<if test="updateBy!=null">
			AND a.update_by = #{updateBy}
		</if>
											<if test="updateTime!=null">
			AND a.update_time = #{updateTime}
		</if>
							        </where>
    </sql>

    <!--保存数据-->
	<insert id="save" parameterType="com.firstTry.Adventure.entity.MenuEntity" useGeneratedKeys="true" keyProperty="id">
		insert into menu
		(
			`app_code`, 
			`level`, 
			`parent_id`, 
			`name`, 
			`url`, 
			`http_url`, 
			`show_name`, 
			`show_order`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`
		)
		values
		(
			#{appCode}, 
			#{level}, 
			#{parentId}, 
			#{name}, 
			#{url}, 
			#{httpUrl}, 
			#{showName}, 
			#{showOrder}, 
			#{createBy}, 
			#{createTime}, 
			#{updateBy}, 
			#{updateTime}
		)
	</insert>
	 
	 <!--根据主键ID修改内容-->
	<update id="update" parameterType="com.firstTry.Adventure.entity.MenuEntity">
		update menu 
		<set>
			<if test="appCode != null">`app_code` = #{appCode}, </if>
			<if test="level != null">`level` = #{level}, </if>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="url != null">`url` = #{url}, </if>
			<if test="httpUrl != null">`http_url` = #{httpUrl}, </if>
			<if test="showName != null">`show_name` = #{showName}, </if>
			<if test="showOrder != null">`show_order` = #{showOrder}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	  <!-- 按主键删除 -->
	<delete id="delete" >
		delete from menu where id = #{id}
	</delete>
	
	<delete id="deleteBatch">
		delete from menu where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>